* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */

}

body {
    background-image: url(../image/contact.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;

}

.contact {
    height: 80vh;
    width: 60vw;
    background-color: rgb(236, 241, 244);
    padding: 20px;
    text-align: center;
    padding: 30px;
    margin: 5vh 20vw 0 20vw;
    border-radius: 10px;
}
.contact h1 {
    text-align: center;
    font-size: 5vw;
    color: rgb(39, 46, 121);

}

.contact p {
    font-size: 2vw;
    font-weight: 400;

}
