* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-image: url(../image/contact.png);
    background-repeat: no-repeat;
}

.contact {
    height: 500px;
    width: 40vw;
    background-color: bisque;
    padding: 20px;
    text-align: center;
    
}