* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    height: 150px;
    width: 100vw;
}

.logo {
    width: 100vw;
    background-color: rgb(7, 7, 7);
    text-align: center;
    display: flex; 
    justify-content: space-between;
   
}

ul li h1 {
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

nav {
    height: 80px;
    width: 100vw;
    background-color: aquamarine;
    text-align: center;
    padding-top: 2rem;   
}

nav a {
    color: black;
    padding-left: 10%;
    padding-right: 20px;
    font-size: 200%;
    text-size-adjust: auto;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    font-weight: 700;
}
.parent {
    height: 700px;
    width: 90vw;
    background-color: blue;
    align-items: center;
    margin: -1% 5% 0 5%;
    display: flex;
}
.profile img{
    background-color: aquamarine;
    width: 30vw;
    height:700px;
    /* background-image: url(./image/bio.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;
    
      
}

.introduction{
    background-color: aquamarine;
    width: 60vw;
    height:700px;
    text-align: center;
    /* overflow: scroll; */

}
.introduction h2 {
    font-size: 5vw;
    font-family: 'Roboto Mono', monospace;
    text-decoration: dashed;
}
.introduction p {
    /* overflow-y: scroll; */
    text-align: center;
    font-size: 1.2vw;
    padding: 2px 15px 0 15px;
    margin: 1px 5px 1px 5px;
    font-family: 'Caveat' serif;
}




