* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
}

body {
    /* width: 100vw; */
    /* height: 100vh; */
    background-color: antiquewhite;
}

header {
    height: 150px;
    width: 100vw;
}

.logo {
    width: 100vw;
    background-color: rgb(7, 7, 7);
    text-align: center;
    display: flex; 
    justify-content: space-between;
   
}

ul li h1 {
    color: white;
    font-weight: bold;
    font-size: 3vw;
    padding: 0 20px 0 40px;
}

nav {
    height: 80px;
    width: 100vw;
    /* background-color: aquamarine; */
    text-align: center;
    padding-top: 1rem;   
}

nav a {
    color: black;
    padding-left: 10%;
    padding-right: 20px;
    font-size: 2.5vw;
    text-size-adjust: auto;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    font-weight: 700;
}
.parent {
    height: 700px;
    width: 90vw;
    /* background-color: blue; */
    align-items: center;
    margin: 0 5% 0 5%;
    display: flex;
}
.profile img{
    /* background-color: aquamarine; */
    width: 30vw;
    height:550px;
    /* background-image: url(./image/bio.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;
    
      
}

.introduction{
    /* background-color: aquamarine; */
    width: 60vw;
    height:700px;
    text-align: center;
    /* overflow: scroll; */

}
.introduction h2 {
    font-size: 5vw;
    font-family: 'Roboto Mono', monospace;
    text-decoration: dashed;
}
.introduction p {
    /* overflow-y: scroll; */
    text-align: center;
    font-size: 1.1vw;
    padding: 2px 15px 0 15px;
    margin: 1px 5px 1px 5px;
    font-family: 'Caveat' serif;
    min-zoom: 4;
}

.introduction > .gillie{
    font-weight: 700;
    font-size: 1vw;
}

footer{
    height: 100px;
    background: rgb(163, 229, 229);
    padding-top: 20px;
    margin-top: 20px;

}

#details{
    display: flex;
    justify-content: space-between;
}
#details footer {
    display: flex;
    
}
.footer {
    width: 25%;
    text-align: center;
    
  }


